img {
    width: 30vw;
    height: 45vh;
  
}

.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D7BEA8;
    text-align: center;
    width: 35vw;
    height: fit-content;
    margin-top: 7%;
    box-shadow: 1px 27px 50px -6px #744253;

}

mat-card-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    
}

mat-card-footer {
    margin-top: 5%;

}


