body {
    background-color: rgb(244, 199, 199);
    text-align: center;
}


button {
    background-color:lightseagreen;
    cursor:pointer;
    width: 13vw;
    height: 5vh;
    
}

button:active {
    background-color:turquoise;
    box-shadow: 4px 3px;
}
button:hover {
    background-color: seashell;
}


#wrapper {
    height: 100%;
    width: 100%;
    margin-top : 15%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}

#containerForWatch {
    border: 5px solid black;
    width: 20vw;
    height: 20vh;
    border-radius: 50%;
    position: relative;
    left: 38%;
    padding: 15px;
    margin: 5px;
}

#minutes, #seconds {
    font-style: italic;
    position: relative;
    top:50px;
}
