<mat-card class="backgroud" >
   
    <!-- <mat-card-header> -->
        <mat-card-title>{{product.name}}</mat-card-title>
        <img mat-card-lg-image src={{product.imageUrl}} width="300" [routerLink]="['/product', product.id]">

    <!-- </mat-card-header> -->

    <mat-card-content >
        <mat-card-subtitle>Price: {{product.price}} $</mat-card-subtitle>

        <!-- <p>{{product.description}}</p> -->
        <!-- <p>Price: {{product.price}}</p> -->
        <!-- <p>Stock:{{product.stock}}</p> -->
        <button mat-button [disabled]="product.stock === 0"(click)="handleClickOrder(product.id)">Order</button>
    </mat-card-content>
</mat-card>
<div>
</div>

