body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
}
table {
    font-style: italic;
    text-align: center;
}

h1 {
    text-align: center;
}
p {
    margin: 1%;
    text-align: center;
}

#firstPage{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding: 5%;
}